http:
  middlewares:
    forward-authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://auth.{{ traefik_domain }}/"
        authResponseHeaders:
          - "Remote-User"
          - "Remove-Groups"
