#!/bin/sh

SSMTP=$(which ssmtp)

$SSMTP -t <<EOF
From: {{ inventory_hostname }} <{{ inventory_hostname }}@{{ traefik_domain }}>
To: {{ selfhost.backup.notification_email }}
Subject: $1 - $2
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

$(sudo journalctl --no-pager --since=-2h -u "$2")
EOF
