#jinja2:variable_start_string:'[%', variable_end_string:'%]'
#!/usr/bin/env bash

function get_volumes() {
  local vol_str=$1
  local -n volarr=$2
  volarr=(${vol_str//,/ })
}

function split_raw_str() {
  local raw_str=$1
  local -n rawarr=$2
  rawarr=(${raw_str//;/ })
}

function get_containers_and_volumes() {
  local -n containers_to_backup=$1
  local -n volumes_to_backup=$2
  mapfile -t raw_str < <(docker ps --no-trunc --filter "label=selfhost.backup.volumes" --format '{{.ID}};{{.Label "selfhost.backup.volumes"}}')
  for container_str in "${raw_str[@]}"; do
    local container
    split_raw_str "${container_str}" container
    containers_to_backup+=("${container[0]}")
    local volumes
    get_volumes "${container[1]}" volumes
    volumes_to_backup+=("${volumes[@]}")
  done
}

function print_context() {
  docker network ls --format "table {{.ID}}\t{{.Name}}"
  docker ps --format "table {{.ID}}\t{{.Names}}"
}

echo "CONTEXT BEFORE"
print_context

CONTAINERS_TO_BACKUP=()
VOLUMES_TO_BACKUP=()
get_containers_and_volumes CONTAINERS_TO_BACKUP VOLUMES_TO_BACKUP

echo "CONTAINERS_TO_BACKUP=${CONTAINERS_TO_BACKUP[@]}"
echo "VOLUMES_TO_BACKUP=${VOLUMES_TO_BACKUP[@]}"

echo "Pausing containers..."
docker pause "${CONTAINERS_TO_BACKUP[@]}" || exit 1

VOLUMES_ARGS=()
for volume in "${VOLUMES_TO_BACKUP[@]}"; do
  volume_str="${volume}:/borg/data/${volume}:ro"
  VOLUMES_ARGS+=("-v ${volume_str}")
done

docker build --pull --tag [% backup_docker_image_name %] /opt/backup/docker

docker run --rm \
  -e BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes \
  -e BORG_REPO="[% backup_user %]@[% backup_host %]:[% backup_dir %]" \
  -e ARCHIVE="[% backup_archive_prefix %]-$(date +%Y-%m-%d)" \
  -e BACKUP_DIRS="/borg/data" \
  -e COMPRESSION=zstd \
  -e PRUNE=1 \
  ${VOLUMES_ARGS[@]} \
  [% backup_docker_image_name %]

borg_rc=$?

echo "Unpausing containers..."
docker unpause "${CONTAINERS_TO_BACKUP[@]}"

docker_rc=$?

echo "CONTEXT AFTER"
print_context

if [[ $borg_rc -ne 0 ]]; then
  exit $borg_rc
fi

exit $docker_rc
