root={{ selfhost.mail.user }}
mailhub={{ selfhost.mail.smtp_server_host }}:{{ selfhost.mail.smtp_server_port }}
hostname={{ traefik_domain }}
UseTLS=yes
AuthUser={{ selfhost.mail.user }}
AuthPass={{ selfhost.mail.password }}
AuthMethod=LOGIN
FromLineOverride=yes