[log]
  level = "{{ "DEBUG" if selfhost_debug else "ERROR" }}"

[entryPoints]
  [entryPoints.node-monitor]
    address = ":9102"

[providers.file]
  filename = "{{ traefik_config_file }}"

[http.routers]
  [http.routers.node-monitor]
    entryPoints = ["node-monitor"]
    rule = "PathPrefix(`/`)"
    service = "node-monitor"
    middlewares = ["monitor-auth"]

[http.services]
  [http.services.node-monitor.loadBalancer]
    [[http.services.node-monitor.loadBalancer.servers]]
      url = "http://127.0.0.1:9101/"

[http.middlewares]
  [http.middlewares.monitor-auth.basicAuth]
  users = [
    "prometheus:{{ node_monitor_pwd_bcrypt }}"
  ]
