server:
  port: 9091

log:
  level: "{{ "debug" if selfhost_debug else "info" }}"

jwt_secret: "{{ auth_jwt_secret }}"

authentication_backend:
  disable_reset_password: true
  ldap:
    url: ldap://ldap
    base_dn: "{{ ldap_base_dn }}"
    additional_users_dn: ou=users
    username_attribute: cn
    users_filter: (&({username_attribute}={input})(objectClass=inetOrgPerson))
    additional_groups_dn: ou=groups
    groups_filter: (&(uniqueMember={dn})(objectClass=groupOfUniqueNames))
    group_name_attribute: cn
    mail_attribute: mail
    display_name_attribute: displayName
    user: "cn=admin,{{ ldap_base_dn }}"
    password: "{{ ldap_admin_pwd }}"

access_control:
  default_policy: deny
  rules:
    - domain: "auth.{{ traefik_domain }}"
      policy: bypass
    - domain: "torrent.{{ traefik_domain }}"
      subject: group:torrent
      policy: one_factor
    - domain: "jackett.{{ traefik_domain }}"
      subject: group:admin
      policy: one_factor
    - domain: "monitor.{{ traefik_domain }}"
      subject: group:admin
      policy: one_factor
    - domain: "prometheus.{{ traefik_domain }}"
      subject: group:admin
      policy: one_factor
    - domain: "ldap.{{ traefik_domain }}"
      subject: group:admin
      policy: one_factor

session:
  name: authelia_session
  secret: "{{ auth_session_secret }}"
  expiration: 3600000 # 1 hour
  inactivity: 300000 # 5 minutes
  domain: "{{ traefik_domain }}"
  redis:
    host: auth_redis
    port: 6379
    password: ""

regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: "{{ auth_storage_encryption_key }}"
  local:
    path: /config/db.sqlite3

notifier:
  smtp:
    username: aurelienbertron@gmail.com
    password: "{{ auth_email_password }}"
    sender: aurelienbertron@gmail.com
    host: smtp.gmail.com
    port: 587
