dn: cn={{ custom_group.name }},ou=groups,{{ ldap_base_dn }}
cn: {{ custom_group.name }}
objectclass: groupofUniqueNames
{% for member in custom_group.members %}
uniqueMember: cn={{ member }},ou=users,{{ ldap_base_dn }}
{% endfor %}
