global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'backup-node'
    static_configs:
      - targets: ['backup-node.{{ traefik_domain }}:9102']
    basic_auth:
      username: 'prometheus'
      password: '{{ prometheus_node_exporter_pwds.backup_node }}'
  - job_name: 'docker-node'
    static_configs:
      - targets: ['docker-node.{{ traefik_domain }}:9102']
    basic_auth:
      username: 'prometheus'
      password: '{{ prometheus_node_exporter_pwds.docker_node }}'
