<?php
$CONFIG = array(
  'overwrite.cli.url' => 'https://nc.{{ traefik_domain }}',
  'overwriteprotocol' => 'https',
  'mail_domain' => 'aurelienbertron.fr',
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => '{{ selfhost.mail.smtp_server_host }}',
  'mail_smtpport' => {{ selfhost.mail.smtp_server_port }},
  'mail_smtpsecure' => 'ssl',
  'mail_smtpauth' => true,
  'mail_smtpauthtype' => 'LOGIN',
  'mail_smtpname' => '{{ nextcloud_mail_user }}',
  'mail_smtppassword' => '{{ nextcloud_mail_pwd }}',
  'memcache.distributed' => '\OC\Memcache\Redis',
  'memcache.local' => '\OC\Memcache\APCu',
  'memcache.locking' => '\OC\Memcache\Redis',
  'redis' => [
    'host' => 'redis',
  ],
  'trusted_proxies' => array('traefik'),
  'default_phone_region' => 'FR',
);
