dn: ou=users,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: users

dn: ou=groups,{{ ldap_base_dn }}
objectClass: organizationalUnit
ou: groups

{% for user in ldap_prod_users %}
dn: cn={{ user.name }},ou=users,{{ ldap_base_dn }}
cn: {{ user.name }}
sn: {{ user.name }}
displayName: {{ user.displayName }}
objectClass: inetOrgPerson
userPassword: {{ user.password }}
mail: {{ user.email }}

{% endfor %}
{% for group in ldap_groups %}
dn: cn={{ group.name }},ou=groups,{{ ldap_base_dn }}
cn: {{ group.name }}
objectclass: groupofUniqueNames
{% for member in group.members %}
uniqueMember: cn={{ member }},ou=users,{{ ldap_base_dn }}
{% endfor %}

{% endfor %}
